---
import Layout from '../layouts/Layout.astro';
import Cards from '../components/Cards.svelte';

import type { Repo } from '../lib/types';

const repos: Repo[] = await fetch('https://gh-pinned-repos.egoist.dev/?username=JanotLeLapin').then(data => data.json());
---

<Layout title="Joseph Daly">
	<main class="grid place-items-center h-screen">
    <div class="text-center">
      <h1 class="bg-clip-text text-transparent pb-4">Joseph Daly</h1>
      <h3>Développeur web fullstack, entre autres.</h3>
    </div>
  </main>
  <article>
    <div class="text-center space-y-2">
      <h2>Mes projets</h2>
      <p>Ce sur quoi je travaille à mes heures perdues.</p>
    </div>
    <Cards client:visible {repos} />
    <p class="text-center">...et encore plus sur
      <a class="text-teal-500 underline decoration-2" href="https://github.com/JanotLeLapin" target="_blank" rel="noreferrer">ma page GitHub</a>.
    </p>
  </article>
</Layout>

<style lang="scss">
  $background-size: 200%;

  @keyframes title-colors {
    from { background-position: 0% center }
    to { background-position: -$background-size center }
  }

  h1 {
    animation: title-colors 3s linear infinite;
    background: linear-gradient(
      to right,
      theme('colors.green.500'),
      theme('colors.emerald.500'),
      theme('colors.cyan.500'),
      theme('colors.green.500'),
    );
    background-size: $background-size;
  }

  article {
    > * {
      margin: 4rem 0;
    }
  }
</style>
