---
import Layout from '../layouts/Layout.astro';

import Chess from "../components/Chess.svelte"
import Shapes from '../components/Shapes.svelte';
import Heading from '../components/Heading.svelte'
---

<Layout>
  <Shapes client:idle />
  <main>
    <Heading client:idle />
  </main>
  <Chess client:idle />
  <div class="filler">
    <p>Foo</p>
  </div>
</Layout>

<style>
  :root {
    margin: 0;
    padding: 0;
  }

  .filler {
    height: 3440px;
  }
</style>
