---
import Layout from '../layouts/Layout.astro';
import Card from '../components/repo/Card.svelte';

import type { Repo } from '../lib/types';

const repos: Repo[] = await fetch('https://gh-pinned-repos.egoist.dev/?username=JanotLeLapin').then(data => data.json());
---

<Layout title="Joseph Daly">
	<main class="grid place-items-center h-screen">
    <div class="text-center space-y-2">
      <div class="relative">
        <div class="absolute bg-gray-100 w-full h-full z-10 right-0 mask" />
        <h1 class="bg-clip-text text-transparent pb-4">Joseph Daly</h1>
      </div>
      <h3 class="opacity-0 subtitle">Développeur web fullstack, entre autres.</h3>
    </div>
  </main>
  <div class="text-center">
    <img src="/svg/red-wave-top.svg" />
    <article class="text-gray-200">
      <div class="space-y-2 bg-red-700">
        <h2 class="text-gray-100">Mes compétences</h2>
        <p>Que puis-je faire pour vous ?</p>
      </div>
    </article>
    <img src="/svg/red-wave-bottom.svg" />
    <article>
      <div class="space-y-2">
        <h2>Mes projets</h2>
        <p>Ce sur quoi j'aime travailler.</p>
      </div>
      <ul class="cards">{repos.map(repo => <li><Card {repo} /></li>)}</ul>
      <p>...et encore plus sur
        <a class="text-teal-500 underline decoration-2" href="https://github.com/JanotLeLapin" target="_blank" rel="noreferrer">ma page GitHub</a>.
      </p>
    </article>
  </div>
  <img src="/svg/footer-waves.svg" />
  <footer class="bg-gray-900 p-8 space-y-8">
    <div class="flex space-x-8">
      <div class="grid items-center px-6">
        <h3 class="text-gray-100">Joseph Daly</h3>
      </div>
      <div>
        <h4>Liens</h4>
        <ul>
          <li><a href="https://www.youtube.com/channel/UC8zxDVecLTSVLpO88Z6KvcA" target="_blank" rel="noreferrer">YouTube</a></li>
          <li><a href="https://github.com/JanotLeLapin" target="_blank" rel="noreferrer">GitHub</a></li>
          <li><a href="https://discord.com/users/437953881914474523" target="_blank" rel="noreferrer">Discord</a></li>
        </ul>
      </div>
    </div>
    <p class="text-gray-200 text-center">Copyright &copy; 2022 Joseph Daly. Certains droits réservés.</p>
  </footer>
</Layout>

<style lang="scss">
  $bg: theme('colors.gray.100');
  $background-size: 200%;

  @keyframes title-colors {
    from { background-position: 0% center }
    to { background-position: -$background-size center }
  }

  @keyframes reveal-title {
    from { width: 100% }
    to { width: 0 }
  }

  @keyframes reveal-subtitle {
    from {
      transform: translateY(16px);
      opacity: 0;
    }

    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  h1 {
    animation: title-colors 2s linear infinite;
    background: linear-gradient(
      to right,
      theme('colors.green.500'),
      theme('colors.emerald.500'),
      theme('colors.cyan.500'),
      theme('colors.green.500'),
    );
    background-size: $background-size;
  }

  .mask {
    animation: reveal-title 4s cubic-bezier(.03, .75, .1, .99);
    animation-fill-mode: forwards;
  }

  .subtitle {
    animation: reveal-subtitle 800ms ease-out 2s;
    animation-fill-mode: forwards;
  }

  footer {
    h3 {
      color: theme('colors.gray.100');
    }

    h4 {
      color: theme('colors.gray.300');
      font-weight: bold;
    }

    li {
      margin-top: .5rem;
    }
  }
</style>
