---
interface Props {
  title: string;
  content: string;
}

const { title, content } = Astro.props;
---

<div class="relative z-0
  hover:-translate-x-1 hover:-translate-y-1 transition-transform cursor-pointer
  before:absolute before:bg-fuchsia-600 before:top-0 before:left-0 before:w-full before:h-full before:-z-10
  before:hover:translate-x-2 before:hover:translate-y-2 before:transition-transform">
  <div class="bg-slate-800 p-4 space-y-2 h-full w-full">
    <h3 class="text-indigo-100 text-2xl font-bold">{title}</h3>
    <p class="text-indigo-200">{content}</p>
  </div>
</div>
